@inherits LayoutComponentBase

<PageTitle>TDSabado</PageTitle>

<nav>
    <a href="#">Nome da Empresa</a>
    <ul class="navigation">
        <li><a href="#Sobre">Sobre</a></li>
        <li><a href="#Servicos">Servicos</a></li>
        <li><a href="/login">Logar</a></li>
        <li><a href="#Cadastrar">Cadastrar</a></li>
    </ul>
</nav>

<main>
    @Body
</main>