.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    padding-left: 2vw;
    padding-right: 5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #000000;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
}

.navigation a:hover {
    background-color: rgb(0, 0, 0);
}

header {
    background-color:deepskyblue;
    color: rgb(209, 0, 0);
}

.headercontainer {
    padding-left: 2vw;
    padding-right: 5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div {
    background-color:#9b5e5e;

}
