@inherits LayoutComponentBase

<PageTitle>GA EMPREGOS</PageTitle>

<nav>
    <div>
   
    <ul class="navigation">
        <li><a href="#Sobre">Sobre</a></li>
        <li><a href="/login">Logar/Cadastar</a></li>
        
    </ul>
    </div>
</nav>

<main>
    @Body
</main>