@page "/"

<div>
<header id="topo">
    <h1>AGS</h1>
    
</header>

<section id="Sobre">
    <h2>Sobre</h2>
     <p>Nossa empresa esta desde o ano 2000, com intuito de ajudar as empresas e os trabalhadores, facilitando a procura de emprego entendemos que tem varios sites que nao ajudao e facilitao a procura de emprego, muitos dificultao muito e viemos para fazer a diferenca varias coisas que nao tem nos outros temos aqui "AGILIDADE" 
        Somos uma empresa que estamos muitos anos no mercado para fazer a diferenca para o trabalhador e para a empresa, facilitando a procura de emprego, não so o funcionario procure a melhor  empresa, como a empresa procure o melhor funcinario mais facil e agil.Queremos facilitar não dificutar
    </p>   
</section>

<footer>
    <p>Desenvolvido pela empresa AGS</p>
</footer>
</div>