@page "/login"

@using Services;

@inject UserService service

@inject NavigationManager nav


<div class="logregcontainer">

    <div class="logincontainer">


        <h1> Logar</h1>
        <p>
            <label>Email</label>
            <input type="text" @bind-value="@userId"/>
        </p>

        <p>
            <label>Senha</label>
            <input type="password" @bind-value="@password"/>
        </p>

       <a href="/entrado" class = "botao"> Logar </a>
     </div>
</div>



@code 
{
    private string name;
    private string password;
    private string repeatpassword;
    private DateTime birth;
    private string userId;

 

    public async void UserLogin()
    {
        var result = await service.Login(
            this.userId,
            this.password
        );
        if (result == null)
         return;

         nav.NavigateTo("/");
        
    }
}