/*.registercontainer {
    padding: 10px;
    background-color: cadetblue;
    border: 5px;
    border-color: black;
    border-radius: 5px;
}*/

.logincontainer {
    padding: 10px;
    background-color: cadetblue;
    border: 5px;
    border-color: black;
    border-radius: 5px;
    align-items: right;
}

.logregcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logincontainer2 {
    padding: 10px;
    background-color: rgb(104, 1, 1);
    border: 5px;
    border-color: black;
    border-radius: 5px;
    align-items: left;
}

.logregcontainer2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}