.registercontainer {
    padding: 5px;
    background-color: cadetblue;
    border: 5px;
    border-color: black;
    border-radius: 5px;
}

.registercontainer2 {
    padding: 5px;
    background-color: rgba(197, 4, 4, 0.815);
    border: 5px;
    border-color: black;
    border-radius: 5px;
}

